In [17]:
# CARGAMOS LIBRERIAS
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import datetime

import boto3
import s3fs
import fastparquet
import awswrangler as wr
import os

import pyarrow.parquet as pq
import pyarrow as pa

import requests
import json
from io import BytesIO
from pandas.tseries.offsets import BDay

import math

In [19]:
# INICIALIZAMOS UNA SESION EN AWS
session = boto3.Session(
    aws_access_key_id=os.environ['S3_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_SECRET_KEY'],
    region_name=os.environ['S3_REGION'])

s3_client = boto3.client('s3')

OBJETIVO DE ESTE NOTEBOOK:
- DESCARGAR DE DISTINTOS ORIGENES LOS DATOS DE LOS ACTIVOS DEL IBEX35
- COMPARAR LOS DATOS OBTENIDOS

## CARGA DE COMPOSICIÓN HISTÓRICA DE IBEX35

In [20]:
# LEEMOS EL FICHERO CON LA COMPOSICIÓN HISTORICA
ibex_constituents = pd.read_excel('data_processing/Historical Composition IBEX35.xlsx')
ibex_constituents.head()

  Activo  Inclusion  Exclusion
0    ACE 1991-01-02 2003-06-02
1    ACX 1991-01-02 1991-07-01
2    ALB 1991-01-02 1991-07-01
3    ASL 1991-01-02 1994-01-03
4    BBV 1991-01-02 2000-01-31

In [21]:
# ibex_constituents['Exclusion'] -= BDay(1)

# ibex_constituents['Inclusion'] = ibex_constituents['Inclusion'].dt.date
# ibex_constituents['Exclusion'] = ibex_constituents['Exclusion'].dt.date

# OBTENEMOS EL DIA ACTUAL
today = datetime.date.today().strftime('%Y-%m-%d')

# COMPLETAMOS LOS DATOS NULOS EN EL FICHERO DE COMPOSICIÓN HISTORICA CON LA FECHA ACTUAL
ibex_constituents.fillna(today,inplace=True)

# DEFINIMOS UNA VARIABLE PARA TODOS LOS ACTIVOS
activos = ibex_constituents.Activo
ibex_constituents['Ticker'] = activos.apply(lambda x: x.split('_')[0])

unique_activos = list(set(activos))

### LEEMOS LOS DATOS DE UN FICHERO PICKLE

In [22]:
import pickle
with open('./Datos TFM/stock_data.pkl', 'rb') as f:
    data = pickle.load(f)

In [23]:
# REALIZAMOS LA CARGA DE TODOS LOS DATOS HISTORICOS DEL ARCHIVO Y LOS CARGAMOS EN UN BUCKET DE S3
bucket_name = 'stock-market-historical-data'
raw_folder = 'raw/pickle_data/'
s3 = boto3.resource('s3')
failed_loads = []

for t in data.keys():
    try:
        file_name = t +'.parquet'
        full_path = raw_folder + file_name
        stock_data = data[t]
        table = pa.Table.from_pandas(stock_data)
        buf = BytesIO()
        pq.write_table(table, buf)

        s3.Object(bucket_name, full_path).put(Body=buf.getvalue())
    except:
        failed_loads.append(ticker)
        continue

In [24]:
close_series = {ticker: df.close
                for ticker, df in data.items()}
stock_df = pd.DataFrame(close_series)

In [25]:
# REALIZAMOS LA DESCARGA DE LOS DATOS DE YFINANCE Y LOS CARGAMOS EN UN BUCKET DE S3
raw_folder = 'processed/pickle_data/'
s3 = boto3.resource('s3')

file_name = t +'.parquet'
full_path = raw_folder + file_name
table = pa.Table.from_pandas(stock_df)
buf = BytesIO()
pq.write_table(table, buf)

s3.Object(bucket_name, full_path).put(Body=buf.getvalue())

{'ResponseMetadata': {'RequestId': 'A0X0GB9ZNDAGDV8H',
  'HostId': '738UkZbE0sPj/rtuCFkmv40UllvjPvuntvrDaJWw9u1d86D4amQA2TG3L0Fyw46ycp/BICsk+ug=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '738UkZbE0sPj/rtuCFkmv40UllvjPvuntvrDaJWw9u1d86D4amQA2TG3L0Fyw46ycp/BICsk+ug=',
   'x-amz-request-id': 'A0X0GB9ZNDAGDV8H',
   'date': 'Wed, 09 Aug 2023 13:17:33 GMT',
   'x-amz-version-id': 'xJmiJamA7jjAY8tRXzdZO7DsxvGUDIo_',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"9b2d56a45e6ba6152c8aa14196e3570d"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"9b2d56a45e6ba6152c8aa14196e3570d"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'xJmiJamA7jjAY8tRXzdZO7DsxvGUDIo_'}

In [53]:
stock_df.columns

Index(['SAN', 'BTO_1', 'BKIA_0', 'BKIA', 'NTGY', 'TRE', 'ACX_0', 'ACX', 'FER',
       'ACS', 'ELE_0', 'ELE', 'SAB', 'CRI', 'OHL', 'IBR', 'EBRO_0', 'EBRO_1',
       'AMS', 'AENA', 'ITX', 'MTS', 'IAG', 'VIS_0', 'VIS', 'IBLA', 'BBVA',
       'MAP', 'BME', 'CIE', 'MAS', 'IBE', 'ABG', 'ENG', 'SCYR_1', 'REP', 'ABE',
       'ABG.P_0', 'ABG.P_1', 'ANA_0', 'ANA', 'EVA', 'GRF', 'CLNX', 'MRL',
       'BKT', 'POP', 'ENC', 'IDR', 'SGRE_0', 'SGRE', 'MEL', 'TL5', 'REE',
       'COL', 'JAZ', 'TEF', 'FCC', 'CABK', 'DIA', 'ALM', 'REE_0', 'CIN', 'LOR',
       'UNF', 'ZEL', 'NHH_0', 'NHH_1', 'MAP_0', 'ALT', 'BTO_0', 'FAD', 'DRC',
       'PRS_0', 'PRS_1', 'SCYR_0', 'TEM', 'CAR', 'AGS', 'COL_0', 'A3TV',
       'SGC'],
      dtype='object')

### LEEMOS LOS DATOS DE FICHEROS

In [29]:
ibex_file_data = pd.read_parquet('./Datos TFM/IBEX.parquet')
ibex_file_data = ibex_file_data.loc['2020-08-24':,:'VIS_0']
ibex_file_data

,ABE,ABG,ABG.P_0,ABG.P_1,ACS,ACX,ACX_0,AENA,ALM,AMS,...,SCYR_1,SGRE,SGRE_0,SLR,TEF,TL5,TRE,UNI,VIS,VIS_0
2020-08-24,NaN,NaN,NaN,NaN,18.598827,5.784362,NaN,122.00,9.059603,45.25,...,NaN,22.80,NaN,NaN,2.886744,NaN,NaN,NaN,61.697101,NaN
2020-08-25,NaN,NaN,NaN,NaN,18.092966,5.664651,NaN,122.50,8.988342,47.54,...,NaN,22.91,NaN,NaN,2.830378,NaN,NaN,NaN,61.162295,NaN
2020-08-26,NaN,NaN,NaN,NaN,17.974931,5.796000,NaN,124.20,8.874325,48.12,...,NaN,23.26,NaN,NaN,2.792532,NaN,NaN,NaN,61.599863,NaN
2020-08-27,NaN,NaN,NaN,NaN,17.915914,5.686265,NaN,124.20,8.793563,48.57,...,NaN,22.20,NaN,NaN,2.765959,NaN,NaN,NaN,61.259533,NaN
2020-08-28,NaN,NaN,NaN,NaN,17.890621,5.774386,NaN,128.80,8.812566,49.03,...,NaN,22.27,NaN,NaN,2.729724,NaN,NaN,NaN,60.384396,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-17,NaN,NaN,NaN,NaN,28.160000,8.982000,NaN,142.40,NaN,58.32,...,NaN,NaN,NaN,16.885,3.702000,NaN,NaN,0.9875,NaN,NaN
2023-03-20,NaN,NaN,NaN,NaN,28.570000,9.140000,NaN,141.95,NaN,58.26,...,NaN,NaN,NaN,16.620,3.754000,NaN,NaN,0.9965,NaN,NaN
2023-03-21,NaN,NaN,NaN,NaN,29.120000,9.320000,NaN,146.55,NaN,59.26,...,NaN,NaN,NaN,16.525,3.840000,NaN,NaN,1.0430,NaN,NaN
2023-03-22,NaN,NaN,NaN,NaN,28.990000,9.262000,NaN,145.50,NaN,58.74,...,NaN,NaN,NaN,16.255,3.832000,NaN,NaN,1.0200,NaN,NaN
2023-03-23,NaN,NaN,NaN,NaN,28.990000,9.200000,NaN,146.70,NaN,58.72,...,NaN,NaN,NaN,16.330,3.810000,NaN,NaN,0.9970,NaN,NaN

In [99]:
len(stock_df.columns), len(ibex_file_data)

(82, 666)

In [37]:
sub = 'BTO'

for ticker in ibex_file_data.columns:
    if sub in ticker:
        print(ticker)

BTO_1

In [ ]:
ibex_file_data = ibex_file_data.rename(columns={
    'ACX_0': 'ACX_1',
    'BKIA_0': 'BKIA_1',
    'ABG.P_0':'ABG.P',
    'VIS_0': 'VIS_1',
    'EBRO_0': 'EBRO',
    'SGRE_0': 'SGRE_1',
    'ANA_0': 'ANA_1',
    })

In [45]:
for ticker in ibex_file_data.columns:
    print(ticker, ibex_file_data[ticker].dropna(axis=0).index)

ABE DatetimeIndex([], dtype='datetime64[ns]', freq=None)
ABG DatetimeIndex([], dtype='datetime64[ns]', freq=None)
ABG.P_0 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
ABG.P_1 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
ACS DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
ACX DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
ACX_0 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
AENA DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
ALM DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2022-06-06', '2022-06-07', '2022-06-08', '2022-06-09',
               '2022-06-10', '2022-06-13', '2022-06-14', '2022-06-15',
               '2022-06-16', '2022-06-17'],
              dtype='datetime64[ns]', length=467, freq=None)
AMS DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
ANA DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
ANA_0 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
ANE DatetimeIndex(['2022-06-20', '2022-06-21', '2022-06-22', '2022-06-23',
               '2022-06-24', '2022-06-27', '2022-06-28', '2022-06-29',
               '2022-06-30', '2022-07-01',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=198, freq=None)
BBVA DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
BKIA DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18',
               '2021-03-19', '2021-03-22', '2021-03-23', '2021-03-24',
               '2021-03-25', '2021-03-26'],
              dtype='datetime64[ns]', length=153, freq=None)
BKIA_0 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
BKT DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
BME DatetimeIndex([], dtype='datetime64[ns]', freq=None)
BTO_1 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
CABK DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
CIE DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2022-06-06', '2022-06-07', '2022-06-08', '2022-06-09',
               '2022-06-10', '2022-06-13', '2022-06-14', '2022-06-15',
               '2022-06-16', '2022-06-17'],
              dtype='datetime64[ns]', length=467, freq=None)
CLNX DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
COL DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
CRI DatetimeIndex([], dtype='datetime64[ns]', freq=None)
DIA DatetimeIndex([], dtype='datetime64[ns]', freq=None)
EBRO_0 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
EBRO_1 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
ELE DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
ELE_0 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
ENC DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04', '2020-09-07', '2020-09-08',
               '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-14',
               '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18',
               '2020-09-21'],
              dtype='datetime64[ns]', freq=None)
ENG DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
EVA DatetimeIndex([], dtype='datetime64[ns]', freq=None)
FCC DatetimeIndex([], dtype='datetime64[ns]', freq=None)
FDR DatetimeIndex(['2021-03-29', '2021-03-30', '2021-03-31', '2021-04-01',
               '2021-04-06', '2021-04-07', '2021-04-08', '2021-04-09',
               '2021-04-12', '2021-04-13',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=513, freq=None)
FER DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
GRF DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
IAG DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
IBE DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
IBLA DatetimeIndex([], dtype='datetime64[ns]', freq=None)
IBR DatetimeIndex([], dtype='datetime64[ns]', freq=None)
IDR DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
ITX DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
JAZ DatetimeIndex([], dtype='datetime64[ns]', freq=None)
MAP DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
MAS DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04', '2020-09-07', '2020-09-08',
               '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-14'],
              dtype='datetime64[ns]', freq=None)
MEL DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
MRL DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
MTS DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
NTGY DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
OHL DatetimeIndex([], dtype='datetime64[ns]', freq=None)
PHM DatetimeIndex(['2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24',
               '2020-09-25', '2020-09-28', '2020-09-29', '2020-09-30',
               '2020-10-01', '2020-10-02',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=646, freq=None)
POP DatetimeIndex([], dtype='datetime64[ns]', freq=None)
REE DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
REP DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
ROVI DatetimeIndex(['2021-12-20', '2021-12-21', '2021-12-22', '2021-12-23',
               '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-30',
               '2022-01-03', '2022-01-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=324, freq=None)
SAB DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
SAN DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
SCYR DatetimeIndex(['2022-06-20', '2022-06-21', '2022-06-22', '2022-06-23',
               '2022-06-24', '2022-06-27', '2022-06-28', '2022-06-29',
               '2022-06-30', '2022-07-01',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=198, freq=None)
SCYR_1 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
SGRE DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-02-01', '2023-02-02', '2023-02-03', '2023-02-06',
               '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10',
               '2023-02-13', '2023-02-14'],
              dtype='datetime64[ns]', length=639, freq=None)
SGRE_0 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
SLR DatetimeIndex(['2020-10-19', '2020-10-20', '2020-10-21', '2020-10-22',
               '2020-10-23', '2020-10-26', '2020-10-27', '2020-10-28',
               '2020-10-29', '2020-10-30',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=626, freq=None)
TEF DatetimeIndex(['2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02',
               '2020-09-03', '2020-09-04',
               ...
               '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15',
               '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23'],
              dtype='datetime64[ns]', length=666, freq=None)
TL5 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
TRE DatetimeIndex([], dtype='datetime64[ns]', freq=None)
UNI DatetimeIndex(['2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17',
               '2023-02-20', '2023-02-21', '2023-02-22', '2023-02-23',
               '2023-02-24', '2023-02-27', '2023-02-28', '2023-03-01',
               '2023-03-02', '2023-03-03', '2023-03-06', '2023-03-07',
               '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-13',
               '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17',

In [55]:
complete_ibex_data = pd.concat([stock_df,ibex_file_data],axis=0)

In [115]:
ibex_file_data['EBRO_0'].dropna()

Series([], Name: EBRO_0, dtype: float64)

In [116]:
stock_df['EBRO_0'].dropna()

2010-07-26     9.682044
2010-07-27     9.619192
2010-07-28     9.626225
2010-07-29     9.528743
2010-07-30     9.347398
                ...
2012-04-25    10.279672
2012-04-26    10.225900
2012-04-27    10.543810
2012-04-30    10.229907
2012-05-02    10.084172
Name: EBRO_0, Length: 455, dtype: float64

In [118]:
complete_ibex_data['EBRO_0'].isnull().sum()

4704

In [54]:
complete_ibex_data = pd.concat([stock_df,ibex_file_data],axis=0)

ibex_historical_data = {}
processed_folder = 'processed/bme-data/'
file_name = 'ibex_historical_data'
full_path = processed_folder + file_name

table = pa.Table.from_pandas(complete_ibex_data)
buf = BytesIO()
pq.write_table(table, buf)

s3.Object(bucket_name, full_path).put(Body=buf.getvalue())

{'ResponseMetadata': {'RequestId': 'GWAF9Q8M3PGR4JNF',
  'HostId': 'er9S5BAxx9g01MM+DybZxUWnm8mLmpvrny8IIjHWPzk3SqnDClN3Rlo+dwxZE0ZlnuqwiBlte9c=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'er9S5BAxx9g01MM+DybZxUWnm8mLmpvrny8IIjHWPzk3SqnDClN3Rlo+dwxZE0ZlnuqwiBlte9c=',
   'x-amz-request-id': 'GWAF9Q8M3PGR4JNF',
   'date': 'Wed, 09 Aug 2023 13:43:57 GMT',
   'x-amz-version-id': 'xnP16C0s1LFFUOKv5isSpvk5_SQGcg3K',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"4ebe40679404e46526a452fe125045dc"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"4ebe40679404e46526a452fe125045dc"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'xnP16C0s1LFFUOKv5isSpvk5_SQGcg3K'}